@media (min-width: 768px) {
    .slogan {
        height: 250px;
        background-color: #fff0dd;
        display: flex;
        justify-content: center;
    }

    .container {
        border: 1px solid;
        width: 80%;
        height: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .button {
        width: 160px;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        background-color: #939393;
        margin-top: 20px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .slogan {
        height: 70vh;
        background-color: #fff0dd;
        display: flex;
    }

    .container {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .button {
        width: 160px;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        background-color: #939393;
    }
}

