@import "../../source/sass/variables";

.title {

	text-align: center;
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.8px;

	text-transform: capitalize;
	line-height: 1.2;
	font-size: 3.1em;
	font-weight: 700;
	color: $textColor;
	position: relative;


	&::before{
		content: '';
		width: 55px;
		height: 2px;
		background: $primaryColor;
		position: absolute;
		bottom: -15px;
		left: 50%;
		transform: translate(-50%, 50%);
	}
}