@import "../source/sass/variables";
@import "../source/sass/mixins";

$BGLocal: #bdbdbd;

.root {
	width: 100%;
	height: 75vh;
	@include flex(flex-start, center, row);
	flex-wrap: wrap;

	.title {
		width: 100%;
		height: 18%;
		@include flex(flex-end, center, row);
		font-size: $textSize;
		background-color: $BGLocal;
	}

	.contactBlock {
		width: 100%;
		height: 82%;
		@include flex(center, center, row);
		background-color: $BGLocal;

		.insideContainer {
			@include flex(center, center, row);
			.form {
				.nameContacts {
					padding: 0.5em 1em;
					width: 100%;
					//background-color: blue;
				}
				.inputMessage {
					padding: 0.5em 1em;
					width: 100%;
					//background-color: green;
				}
			}

			.button {
				padding: 0.5em 1em;
				//background-color: red;
			}
		}
	}
}


