@import "../source/sass/variables";
@import "../source/sass/mixins";

$BGLocal: #bdbdbd;

.root {
	width: 100%;
	height: 75vh;
	@include flex(flex-start, center, row);
	flex-wrap: wrap;
	background-color: $BGLocal;
	font-size: $textSize;

	.title {
		width: 100%;
		height: 18%;
		@include flex(flex-end, center, row);
	}

	.description {
		width: 39%;
		margin-top: 3em;
		font-size: 1rem;
		text-align: center;
	}

	.contactBlock {
		width: 100%;
		height: 82%;
		@include flex(center, center, row);

		.insideContainer {
			margin-bottom: 4.4em;
			@include flex(center, center, row);

			.form {
				.nameContacts {
					padding: 0.5em 1em;
					width: 100%;
				}
				.inputMessage {
					padding: 0.5em 1em;
					width: 100%;
				}
			}

			.button {
				padding: 0.5em 1em;
			}
		}
	}


}


