@media (min-width: 768px) {
    .descriptionSkillContainer {
        display: flex;
        height: 100%;
        width: 25%;
        border: 1px solid;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #fdfffd;
    }

    .descriptionTop {
        background-color: #c4c4c4;
        width: 100px;
        height: 100px;
    }

    .descriptionSkillContainer h2 {
        display: block;
        background-color: white;
    }

    .descriptionBlock {
        width: 100%;
        height: 45%;
        border: 1px solid;
    }

    .descriptionBlock p {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .descriptionSkillContainer {
        display: flex;
        height: 100%;
        width: 80%;
        margin: 10% auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #fdfffd;
    }

    .descriptionSkillContainer h2 {
        display: block;
        background-color: white;
    }

    .descriptionTop {
        background-color: #c4c4c4;
        width: 100px;
        height: 100px;
        margin-bottom: 10%;
    }

    .descriptionBlock {
        width: 100%;
        height: 45%;
    }

    .descriptionBlock p {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
}

