@import "../source/sass/variables";
@import "../source/sass/mixins";

.root {
	@include flex (center, center, column);
	width: 100%;
	color: $bgColor;
	background-color: #bdbdbd;

	.container {
		@include flex (center, center, row);
		width: 100%;
		margin-top: 7vh;

		.text {
			font-size: 1.7em;
		}
	}

	.iconsBar {
		@include flex (center, center, row);
		width: 100%;
		height: auto;
	}
}