@media (min-width: 768px) {
    .main {
        height: 100vh;
        background-color: #ffe1f5;
        display: flex;
        justify-content: center;
    }

    .container {
        border: 1px solid;
        width: 80%;
        height: 400px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .greeting {
        display: flex;
        flex-direction: column;
    }

    .greeting span {
        font-size: 22px;
        font-weight: bold;
    }

    .photo {
        height: 400px;
        width: 300px;
        background-color: #f2f2f2;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .main {
        background-color: #ffe1f5;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 80%;
        height: 95%;
        margin: 10px auto 10% auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .greeting {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }

    .greeting span {
        font-size: 22px;
        font-weight: bold;
    }

    .photo {
        height: 400px;
        width: 300px;
        background-color: #f2f2f2;
    }
}

