@import "../source/sass/variables";
@import "../source/sass/mixins";

.main {
	min-height: 96vh;
	background-color: $bgColor;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;

	.particles {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin-top: 55px;
	}

	.presentation {
		width: 100%;
		min-height: 500px;
		@include flex(space-around, center, wrap);
		box-sizing: border-box;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 40px;

		.text {
			@include text($TextFontFamily, 19px, 30px);
			position: relative;

			.name {
				font-size: 45px;
				position: relative;
				z-index: 1;
				&::after {
					content: '';
					position: relative;
					display: flex;
					z-index: -1;
				}
			}
		}

		.photo {
			position: relative;
			z-index: 1;
			&::before {
				content: '';
				width: 100%;
				height: 529px;
				position: absolute;
				margin-top: -15px;
				margin-left: 15px;
				z-index: -1;
				@media screen and (max-width: 365px){
					width: 94%;
				}
			}
			.photoImage {
				width: 300px;
				height: 500px;
				background-size: cover;
				background-position: center;
				background-image: url("../source/images/myPhoto.jpg");
			}
		}
	}
}





